.page {
  background-image: url("/images/background.png");
  color: #222;
}

#cover {
  background-image: url("/images/background_cover.png");
  color: #fff;
}

#cover .page-header {
  top: 12%;
}

.slide .page-header {
  margin-top: 2em;
}

#cover .page-content {
  position: relative;
  margin-top: 3em;
}

#cover .author {
  position: relative;
  float: right;
  margin-top: 1em;
  right: 3em;
}

#cover .icon {
  position: relative;
  top: 10px;
  left: 30em; 
}

#cover .icon img {
  width: 128px;
}

.books img {
  margin: auto;
  display: block;
  width: 80%;
}

.Rubyist_bulk_load img {
  margin: auto;
  display: block;
  width: 100%;
}

.road_to_tokushima img {
  margin: auto;
  display: block;
  width: 95%;
}

.awa img {
  margin: auto;
  display: block;
  width: 80%;
}

.speaker img {
  margin:  auto;
  display: block;
  width: 70%;
}

.code_party img {
  margin: auto;
  display: block;
  width: 80%;
}

.proposal img {
  margin: auto;
  display: block;
  width: 40%;
}

.tkskkd img {
  margin: auto;
  display: block;
  width: 60%;
}

.gibier2 img {
  margin: auto;
  display: block;
  width: 75%;
}

.center {
  text-align: center;
  font-size: 120%;
  margin-top: 2em;
}

a:link {
  color: #48e;
  text-decoration: none;
}

a:visited {
  color: #48e;
  text-decoration: none;
}

a:hover {
  color: #48a;
  text-decoration: underline;
}

a:active {
  color: #48e;
  text-decoration: none;
}

