body {
  font-family: "Bellota Text", "Kosugi Maru", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.page {
  color: #222;
  background-color: #eee;
  border-top: 68px solid #cef;
  border-bottom: 36px solid #cef;
  box-sizing: border-box;
}

.page:after {
  content: "";
  position: absolute;
  top: 12px;
  border-top: 24px solid #cef;
  width: 100%;
}

.slide .page-header {
  margin-top: 2em;
}

#cover .page-content {
  position: relative;
  margin-top: 3em;
}

#cover .author {
  position: relative;
  float: right;
  margin-top: 3em;
  right: 3em;
}

#cover .icon {
  position: relative;
  top: 10px;
  left: 30em; 
}

#cover .icon img {
  width: 128px;
}

.druby_on_browser_again img {
  margin: auto;
  display: block;
  width: 80%;
}

.thinking_face img {
  margin: auto;
  display: block;
  width: 30%;
}

.druby_on_browser img {
  margin: auto;
  display: block;
  width: 80%;
}

.ruby_wasm_vs_opal img {
  margin: auto;
  display: block;
  width: 80%;
}

.cat img {
  position: absolute;
  display: block;
  top: 10%;
  right: 0;
  width: 40%;
}

.Share_objects img {
  margin: auto;
  display: block;
  width: 80%;
}

.gibier2 img {
  margin: auto;
  display: block;
  width: 75%;
}

.center {
  text-align: center;
  font-size: 120%;
  margin-top: 2em;
}

a:link {
  color: #48e;
  text-decoration: none;
}

a:visited {
  color: #48e;
  text-decoration: none;
}

a:hover {
  color: #48a;
  text-decoration: underline;
}

a:active {
  color: #48e;
  text-decoration: none;
}

