.aoboshi-one-regular {
  font-family: "Aoboshi One", serif;
  font-weight: 400;
  font-style: normal;
}

.page {
  background-image: url("/images/background.png");
  color: #222;
}

#cover {
  background-image: url("/images/background_cover.png");
  color: #fff;
}

#cover .page-header {
  top: 12%;
}

.slide .page-header {
  margin-top: 2em;
}

#cover .page-content {
  position: relative;
  margin-top: 3em;
}

#cover .author {
  position: relative;
  float: right;
  margin-top: 3em;
  right: 3em;
}

#cover .icon {
  position: relative;
  top: 10px;
  left: 30em; 
}

#cover .icon img {
  width: 128px;
}

.slide .page-header {
  margin-top: 0em;
  font-family: "Aoboshi One", serif;
}

.slide h2.page-header {
  color: #ffffff;
}

.keith_emerson img {
  margin: auto;
  display: block;
  width: 70%;
}

.center {
  margin-top: 1em;
}

#moog ul {
  float: left;
}

#moog .right {
  float: right;
  width: 600px;
}

#moog .right img {
  margin: auto;
  display: block;
  width: 100%;
}

.analog_synth img {
  margin: auto;
  display: block;
  width: 90%;
}

.DX7 img {
  margin: auto;
  display: block;
  width: 50%;
  float: right;
}

.gibier_synth img {
  margin: auto;
  display: block;
  width: 90%;
}

.asakusa img {
  margin: auto;
  display: block;
  width: 60%;
}

.Share_objects img {
  margin: auto;
  display: block;
  width: 80%;
}

.gibier2 img {
  margin: auto;
  display: block;
  width: 75%;
}

.center {
  text-align: center;
  font-size: 120%;
  margin-top: 1em;
}

a:link {
  color: #48e;
  text-decoration: none;
}

a:visited {
  color: #48e;
  text-decoration: none;
}

a:hover {
  color: #48a;
  text-decoration: underline;
}

a:active {
  color: #48e;
  text-decoration: none;
}

